<!DOCTYPE html>
<html>
<head>
    <title>Vector Space Search Model</title>
    <link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
</head>
<body class="modal-body" >
<body style="background-color:#77773c;"></body>
    <form action="/" method="POST">
        <style>
p {
 text-align:center
}
</style>
        <p style='color : e60000'><font size="+3" >Enter Your String</font></p>
        <p><input type="text" name="query" ></p>
        <p><input type="submit" value="submit" ></p>
	</form>

</body>
</html>